---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@font-face {
    font-family: ScalaSansPro;
    font-weight: normal;
    font-style: normal;
    src: url("/assets/fonts/ScalaSansPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: ScalaSansPro;
    font-weight: normal;
    font-style: italic;
    src: url("/assets/fonts/ScalaSansPro-Italic.otf") format("opentype");
}
@font-face {
    font-family: ScalaSansPro;
    font-weight: bold;
    font-style: normal;
    src: url("/assets/fonts/ScalaSansPro-Bold.otf") format("opentype");
}
@font-face {
    font-family: ScalaSansPro;
    font-weight: bold;
    font-style: italic;
    src: url("/assets/fonts/ScalaSansPro-BoldItalic.otf") format("opentype");
}
@font-face {
    font-family: ScalaSansPro;
    font-weight: 300;
    font-style: normal;
    src: url("/assets/fonts/ScalaSansPro-Light.otf") format("opentype");
}
@font-face {
    font-family: ScalaSansPro;
    font-weight: 300;
    font-style: italic;
    src: url("/assets/fonts/ScalaSansPro-LightItalic.otf") format("opentype");
}
@font-face {
    font-family: ScalaSansPro;
    font-weight: 900;
    font-style: normal;
    src: url("/assets/fonts/ScalaSansPro-Black.otf") format("opentype");
}
@font-face {
    font-family: ScalaSansPro;
    font-weight: 900;
    font-style: italic;
    src: url("/assets/fonts/ScalaSansPro-BlackItalic.otf") format("opentype");
}



// Variable

$text-color:       #fff;
$background-color: #000;

// Style


body {
	background-color: $background-color;
	background-image:url('/assets/bg.png');
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position: center center;
	background-attachment: fixed;

}

a:hover {
	color:#fff;
}

.link-round {
	color: #fff;
    padding: 15px;
}
.main {
	font-family: 'ScalaSansPro', sans;
	text-align: justify;
	font-size: 14px;
	color: $text-color;

}

.txt-center {
  text-align: center;
}

.header {
	
	margin-top: 40px;
	p:first-child {
		
	}
	.menu {
	  padding: 50px 8px;
	}
	a {
		font-size: 14px;
		color: $text-color;
		font-weight: bold;
		p {
			font-size: 14px;
			color: #f44f3a;
			margin-bottom: 0;
			text-decoration: none;
		}
		p:hover {
			color: #fff;
		}
	}
	.mainsidebar:hover {
  		background-color: #0a148d;
  		color: #fff;
  		text-decoration: none;
  	}

  	span {
  		font-size: 12px;
  		p {
  			padding-bottom: 0;
  			color: $text-color;

  		}
  	}
  	ul {
  		margin: 15px 0px 15px 0px;
  		
  		li {
  			display: inline;
  		}
  		
  	}
}


.card {
	//width: 263px;
	height: 195px;
	margin: 40px 30px;
	background:none;
	border: none;


	img {
	  //width: 263px;
	  height: 195px;
	  
	}
}

.box:hover {
  	  opacity: 1;
}

.box {
	height: 195px;
    //width: 240px;
    opacity: 0.5;
    border: solid 0px transparent;
    border-radius: 100px;

}

.footer {
  text-align: center;
  padding-bottom: 1%;
  font-size: 8pt;

}


.pagina {
	
	text-align: right;
	a { 
		color: #fff;
	}
	a:hover { 
		background: #fff;
		color: #000;
	}
	li {
		display: inline;
		color: #fff;
    	display: inline;
	}
}
	

.sobre {
	padding: 8em 0 3em 2em;
 	width: 900px;
  h5 {
    font-size: 1.5em;
    line-height: 1.2;	
  }
  h4 {
  	font-size: 1.3em;
  	color: #aaa;
    font-weight: 100;
  }
	.nome-autor {
		  color : #666;
		  text-transform: uppercase;
	    font-style: italic;
	    padding-right: 1em;
	    text-align: right;
		}
}

.ficha-tecnica {
	padding: 3em 0px 0px 2em;
  	font-family: 'ScalaSansPro', sans-serif;
  h1 {
		font-size: 22pt;
		text-transform: uppercase;
  		font-style: italic;
		padding-bottom: 1em;
		font-weight: 300;	

	}
	p {
		color: #ccc;
		font-size: 12pt;
	}
	a {
		color: #00EBB7;
	}
	span {
		font-size: 9.5pt;
	}
}


.performances {
	padding: 3em 0px 0px 2em;
  	width: 900px;	
  h1 {
		font-size: 22pt;
	}
  h2 {
		font-size: 15pt;
	}
  h3 {
		padding-top: 1.5em;
	}
	p {
		color: #ccc;
		text-align: center;
	}
	b {
		color: #ccc;
	}
	span {
		font-size: 9.5pt;
	}
}
// OBRAS

.obras {
	padding: 2em 2em 0 4em;
    width: 900px;


	
	blockquote {
		padding: 3px 19px;
		font-size: 12px;
		border-left: 3px solid #eee;
		strong {
			font-size: 14px;
		}
	}
	
	h3 {
		font-size: 16px;
		color: #fff;
		font-weight: bold;

	}
	h2 {
		font-size: 18px;
		text-align: center;
		color: #8A8B8F;
		text-transform: uppercase;
		font-weight: bold;
	}
	h4 {
		font-size: 12px;
		font-weight: normal;
	}
	

	
}
.growing {
	margin-top: 0px;
	border-top: 0px solid transparent;

}	
.nav-item,
#default-tab,
#sobre-tab,
#artista-tab {
	width: 25px;
  height: 24.5px;
}

.nav .nav-link {
  border: 0;
  padding: 0;
}

.nav li {
  margin: 2px;
}

/* TABS */

#artista-tab {
    background: url(/assets/buttons.svg) 51px 0;
 
}

#sobre-tab {
    background: url(/assets/buttons.svg) 0 0;
}

#default-tab {
    background: url(/assets/buttons.svg) 25px 0;
}

.aba {
	padding: 30px 0px 10px 0px;
	width: 80%;
	font-size: 11pt;
}

.frame
{
	width: 100%;
    border: none;
	height: 684px;
}

.fyoutube {
	width: 952px;
    height: 535.5px;	
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	.frame {
	  	width: 22em;
	  	height: 36em;
	    padding-right: 0.5em;
    }
 .fyoutube {
    width: 330px;
    height: 185px;
}

	.sobre {
	 	hyphens: auto;
	 }
 
 }

/* MENU MOBILE */

#menuFloat {
	color: #1656A9;
    font-size: 3.7em;
	padding-top: 3em;
}
.menuMob {
    z-index: 2;
    position: fixed;
    overflow: hidden;
    top: -9px;
    left: 0;
    padding: 1em 0em 0em 1.5em;
    cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 6em;
  background: #000000f7;
}

.sidenav a {
  padding: 10px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  color: #1656A9;
  top: 0;
  padding-top: 0px;
  font-size: 50px;
}
.highlighter-rouge {
	color: #ffffff;
}
