<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-87305218-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-87305218-2');
    </script>

  </head>
  <body>
    <section class="main container-fluid">
      <div class="row">
       
        <!-- LARGE -->
        <header class="header col-6 col-sm-4 col-md-3 col-lg-2 d-none d-sm-block">
          <a href="/"><img src="/assets/logo.png"></a>
          
          <div class="menu">
            <p><a href='/sobre' class="mainsidebar">sobre/about</a></p>
            <p><a href='/ficha-tecnica' class="mainsidebar">ficha técnica</a></p>
          </div>
          
          <span class="menu">
            <p>PRODUÇÃO</p>
            <img width="200" src="/assets/footer-UNB.png">
          </span>
        </header>

         <!-- MOBILE -->        
        <header class="header justify-content-center d-block d-sm-none" style="width: 100%;">
          
          <a href="/"><img class="mx-auto d-block" src="/assets/logo.png"></a>

          <nav class="navbar navbar-expand-lg mx-auto d-block">
            <br><br>
            <p><a href='/sobre' class="mainsidebar">sobre/about</a></p>
            <p><a href='/ficha-tecnica' class="mainsidebar">ficha técnica</a></p>
          </nav>
          
          
        </header>
                 
        <main class="content col col-sm-8 col-md-9 col-lg-10">
          {{ content }}
        </main>

      </div>  
    </section>
    
<footer class="text-center d-block d-sm-none">
  <!-- footer -->
  <span class="menu">
            <p style="color:#fff;">PRODUÇÃO</p>
            <img width="200" src="/assets/footer-UNB.png">
          </span>
          <br><br>
  </div>
  <!-- footer -->
</footer>

    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
  </body>
</html>
