---
layout: default
---

<hr class="growing" style="box-shadow: 0 0 10px 0 #{{ page.cor }} inset, 0 0 15px 6px #{{ page.cor }};
">
<div class="obras d-none d-sm-block" align="center">
  <h2>{{ page.title }}</h2>
      <h3 class='ano-nome'>&lt;{{ page.ano }}&gt; {{ page.artista }}</h3> 
      <h4> {{ page.material }} | {{ page.dimensao }} </h4>   
  <ul class="nav justify-content-center">
    <li class="nav-item" data-toggle="tooltip" title="Ver {{ page.title }}">
      <a class="nav-link active" id="default-tab" data-toggle="tab" href="#default" role="tab" aria-controls="default" aria-selected="true"></a>
    </li>
   
    
    <li class="nav-item" data-toggle="tooltip" title="Sobre o artista">
      <a class="nav-link" id="artista-tab" data-toggle="tab" href="#bio" role="tab" aria-controls="bio" aria-selected="false"></a>
    </li>
  </ul>
 
  <div class="tab-content">
    <div class="tab-pane fade show active" id="default" role="tabpanel" aria-labelledby="default-tab">
      <div class="aba">
        <div class="wrap">
                  {{ content }}
        </div>
      </div>
    </div>
 
     <div class="tab-pane fade" id="bio" role="tabpanel" aria-labelledby="duo-bio">
      <div class="aba">

        <p>{{ page.bio }}</p>
      </div>
    </div>

  </div>
</div>


<!-- MOBILE -->
<div class="obras d-block d-sm-none" style="padding: 0 !important; width: 100%;" align="center">
  <h2>{{ page.title }}</h2>
      <h3 class='ano-nome'>&lt;{{ page.ano }}&gt; {{ page.artista }}</h3> 
      <h4> {{ page.material }} | {{ page.dimensao }} </h4>   
  <ul class="nav justify-content-center">
    <li class="nav-item" data-toggle="tooltip" title="Ver {{ page.title }}">
      <a class="nav-link active" id="default-tab" data-toggle="tab" href="#default" role="tab" aria-controls="default" aria-selected="true"></a>
    </li>
   
    
    <li class="nav-item" data-toggle="tooltip" title="Sobre o artista">
      <a class="nav-link" id="artista-tab" data-toggle="tab" href="#bio" role="tab" aria-controls="bio" aria-selected="false"></a>
    </li>
  </ul>
 
  <div class="tab-content">
    <div class="tab-pane fade show active" id="default" role="tabpanel" aria-labelledby="default-tab">
      <div class="aba">
        <div class="wrap">
                  {{ content }}
        </div>
      </div>
    </div>
 
     <div class="tab-pane fade" id="bio" role="tabpanel" aria-labelledby="duo-bio">
      <div class="aba">

        <p>{{ page.bio }}</p>
      </div>
    </div>

  </div>
</div>
